* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login-container {
    background-color: white;
    width: 300px;
    /* height: 500px; */
    justify-content: start;
    align-items: start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    width: 100%;
    text-align: center;
}


.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    position: relative;
}

input {
    height: 35px;
    padding-left: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

p {
    font-size: 12px;
    cursor: none;
}

.checkbox-container {
    display: flex;
    gap: 5px;
    justify-content: start;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.checkbox {
    color: rgb(10, 109, 254);

}

button {
    width: 100%;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.login-button {
    width: 100%;
    min-height: 35px;
    margin-bottom: 10px;
    background: rgb(10, 109, 254);
}

.login-button:hover {
    background: rgba(10, 109, 254, 0.8);
}

.links {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: end;
    font-size: 12px;
    padding-top: 20px;
    margin-bottom: 10px;
    border-top: 1px solid lightgray;
}

.link-text:hover {
    text-decoration: underline;
    cursor: pointer;
}

.alt-login-label {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 10rem;
}

.alt-login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.alt-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.google {
    background: red;
}

.google:hover {
    background: red;
    opacity: 0.8;
}

.facebook {
    background: rgb(10, 109, 254);
}

.facebook:hover {
    background: rgba(10, 109, 254, 0.8);
}

.twitter {
    background: skyblue;
}

.twitter:hover {
    background: skyblue;
    opacity: 0.8;
}

.error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
    position: absolute;
    bottom: 0;
}

.inputs input.error {
    border-color: red;
}

.password-container {
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1;
}

.toggle-password {
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
}